server:
  port: 5000

spring:
  profiles:
    default: dev

spring.data.mongodb:
  field-naming-strategy: org.springframework.data.mapping.model.SnakeCaseFieldNamingStrategy
management:
  endpoints:
    web:
      cors:
        allowed-headers: "*"
        allowed-methods: "*"
        allowed-origins: "*"
        exposed-headers: "Access-Control-Allow-Origin,Origin"